@font-face {
  font-family: "iconfont"; /* Project id 1307587 */
  src: url('~@/static/fonts/iconfont.ttf?t=1642754475675') format('truetype');
			/* url('~@/static/fonts/iconfont.woff2?t=1642754475675') format('woff2'), */
       /* url('~@/static/fonts/iconfont.woff?t=1642754475675') format('woff'); */
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icontermsofservice:before {
  content: "\e63f";
}

.iconfuhao-yingwen:before {
  content: "\e712";
}

.iconfuhao-zhongwen:before {
  content: "\e713";
}

.iconwenhao:before {
  content: "\e605";
}

.iconxiangmu1:before {
  content: "\e651";
}

.iconzhuanjiarenzheng:before {
  content: "\e61e";
}

.iconjishushichang-copy:before {
  content: "\e646";
}

.iconjiaoyi:before {
  content: "\e67f";
}

.iconziyuan:before {
  content: "\e615";
}

.iconqiye:before {
  content: "\e647";
}

.iconzhuanli1:before {
  content: "\e645";
}

.iconbiaozhun:before {
  content: "\e607";
}

.iconzhuanli:before {
  content: "\e616";
}

.iconlunwentimu:before {
  content: "\e606";
}

.icontushuguan:before {
  content: "\e644";
}

.iconfire:before {
  content: "\e729";
}

